// Bootstrap library.
@import 'bootstrap';

* {
  outline: none;
}

header {
  border-bottom: 1px solid #000000;
  .container {
    .row {
      > div {
        height: 228px;
        display: flex;
        align-items: center;
        &.logo {
          a {
            margin: 0 auto;
          }
        }
        &:last-child {
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          > div {
            a{
              position: relative;
              display: inline-block;
              span{
                display: block;
                position: absolute;
                height: 12px;
                width: 12px;
                font-size: 9px;
                background: #d6003e;
                color: #fff;
                bottom: -4px;
                right: -4px;
                text-align: center;
                border-radius: 50%;
              }
            }
            select {
              border: 0;
              background: transparent;
              text-transform: uppercase;
            }
            button {
              background: transparent;
              border: 1px solid #d6003e;
              border-radius: 4px;
              text-transform: uppercase;
              padding: 8px 13px;
              color: #d6003e;
            }
          }
        }
      }
    }
  }
  .menu-button {
    background: transparent;
    border: 0;
    position: relative;
    .burger {
      position: relative;
      float: left;
      margin-right: 15px;
      padding: 15px 12px;
      margin-top: 0;
      margin-bottom: 0;
      background-color: #d6003e;
      background-image: none;
      border: 1px solid #d6003e;
      border-radius: 4px;
      z-index: 1;
      .icon-bar {
        display: block;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background-color: #fff;
        & + .icon-bar {
          margin-top: 5px;
        }
      }
      & + div {
        float: right;
        padding: 9px 18px;
        line-height: 25px;
        position: relative;
        left: -20px;
        border: 1px solid #000;
        border-radius: 4px;
        text-transform: uppercase;
      }
    }

  }
}

.main-menu {
  border-bottom: 1px solid #000;
  ul {
    list-style: none;
    display:flex;
    justify-content: space-around;
    margin: 0;
    li {
      display: list-item;
      padding: 5px 10px;
      color:white;
      margin: 0 3px;
      a{
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        display: block;
        line-height: 64px;
      }
    }
  }
}

#about{
  .circle{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.3);
    display: block;
    position: relative;
    img{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

footer{
  border-top: 1px solid #000;
  .container-760{
    max-width: 760px;
    margin: 0 auto;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
      }
    }

  }
  .social{
    border-bottom: 1px solid #000;
    position: relative;
    margin-bottom: 40px;
    >div{
      display: table;
      margin: 0 auto;
      position: relative;
      top: 30px;
      a{
        display: inline-block;
        padding: 20px;
        background: #fff;
      }
    }

  }
}